.contentCard__container {
  color: white;
  margin: 1rem 1rem 1rem 0;
}

.contentCard__container:hover {
  border: 2px solid greenyellow;
}

.contentCard__buttons {
  display: flex;
  justify-content: space-between;
}

.contentCard__buttons Button {
  padding: 0.6rem 2rem;
  background-color: greenyellow;
  color: black;
}