/* .navbar__container {
  display: flex;
  justify-content: space-between;
  background: gray;
  width: 80%;
  padding: 5px;
}

.navbar__logo {
  color: white;
}

.navbar__links {
  display: flex;
  row-gap: 8rem;
}

.navbar__links a {
  font-size: 1.6rem;
  margin: 0 2rem;
}

.navbar__links a:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
} */

.navbar__container {
  width: 100%;
  background-color: gray;
}

.navbar__brand {
  color: white;
}

.navbar__brand:hover {
  color: red;
}

.navbar__link {
  color: white;
  margin: 0 1rem;
}

.navbar__link:hover {
  color: red;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
}