.home__container {
  display: flex;
  width: 90%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  margin: 4rem;
}

.home__header {
  color: white;
  width: 80%;
}

.home__header h1 {
  font-size: 4rem;
}

.home__header p {
  font-size: 1.6rem;
}

.home__name {
  color: red;
}

.home__title {
  color: greenyellow;
}

.home__image {
  border-radius: 100%;
}

.home__sub {
  display: flex;
  margin: 2rem 0;
  align-items: center;
}

.home__sub button {
  margin-right: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: greenyellow;
}

.home__sub p {
  font-size: 1.4rem;
}
