.about__container {
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about__container h2 {
  color: greenyellow;
}

.about__container p:first-child{
  font-weight: bold;
  color: greenyellow;
  font-size: 1.4rem;
}

.about__container h1 {
  color: white;
}

.about__cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.about__card {
  width: 40%;
}

.about__card h2 {
  margin: 0 0 2rem 0;
}

.about__life {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: white;
}

.about__content {
  width: 80%;
  text-align: center;
  border: 2px solid greenyellow;
  border-radius: 5px;
  background-color: rgb(0, 65, 65);
  padding: 2rem;
}

.about__content p {
  font-size: 1.2rem;
}

