.about__container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.about__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-color: rgb(108, 117, 125);
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}